.showing {
    border:1px dotted red;
}

img {
	max-width:100%;
    display:inline-block;
}

ul {list-style:none;}


.header{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background.png);
    background-size: cover, contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {background-color:black;}

.navbar a {color:#fff;}

.navbar li {position: relative;     padding:10px;}

.navbar a::after {
    content: " ";
    border-bottom: 1px solid white;
    width: 0%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 11px;
    transition: width .5s;
}

.navbar a:hover::after {width: 100%;}

.navbar a::before {
    content: " ";
    border-bottom: 1px solid white;
    width: 0%;
    display: block;
    position: absolute;
    right: 0;
    top: 11px;
    transition: width .5s;
}

.navbar a:hover::before {width: 100%;}

.btn{
    background: red;
    border-color: white;
}

.main{
    height:655px;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}
.title{
    padding:0px;
    margin-top:15px;
    font-size: 100px;
    font-family: Myriad Pro;
    text-align: center;
}

.sub-title{
    margin-bottom: 10px;
    padding:0px;
    font-size: 45px;
    font-family: Myriad Pro;
    text-align: center;
}

.promo{
    margin-top: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

.card-title{
    margin-bottom: 10px;
    padding:0px;
    font-size: 25px;
    font-weight: bold;
    font-family: Myriad Pro;
    text-align: center;
}

.card-text{
    margin-bottom: 10px;
    padding:0px;
    font-size: 15px;
    font-family: Myriad Pro;
    text-align: center;
}

.b-2{
    background: white;
    border-color:black;
    border-radius: .25rem;
    padding: 8px;
    width: 50%;
}

.b-2:hover{
    color:white;
    background-color: red;
    border-color: white;
}

.card{
    transition: transform 1s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 1px -1px 6px black;
}

.award{
    padding:20px;
    font-family: Myriad Pro;
    text-align: left;
}

.find-us{
    font-weight: bold;
}
